
 
 
<!DOCTYPE html>
   <head>
      <title>PROYECTO FINAL</title>
      <link rel="stylesheet" href='../static/clr.css'/>
   </head>
 
   <body>
        <h1 align=center>SMART HOME</h1>
    
        <br>
         
        <h2> CONTROL DE ILUMINACIÓN </h2>
         
        <h3> FOCO SALA    Estatus {{ FOCO1  }}
            {% if  FOCO1   == 1 %}
                <a href="/FOCO1/apagado"class="button">APAGA</a>
            {% else %}
                <a href="/FOCO1/encendido" class="button">ENCIENDE</a> 
            {% endif %} 
        </h3>
         
        <h3> FOCO COCINA    Estatus {{ FOCO2  }}
            {% if  FOCO2   == 1 %}
                <a href="/FOCO2/apagado"class="button">APAGA</a>
            {% else %}
                <a href="/FOCO2/encendido" class="button">ENCIENDE</a> 
            {% endif %} 
        </h3>

        <h4> 

            <h2> STREAMING </h2>
            <a href="/menu_camara"class="button">ACTIVAR CÁMARA</a>

        </h4>

        <h5> 
            <!-- <h2>ABRIR Y CERRAR PUERTAS </h2>
             <form method="POST" action="test"> -->

        </h5>

        <h3> DESLIZAR IZQ Y DER   
        <form method = 'POST'>
        <div class="rangeslider"> 
        <input type="range" min="1" max="10" value="5" class="myslider" id="sliderRange"> 
        <p>
            <span id="demo"></span>
        </p> 
    </div> 
        
        <script> 
            const Http = new XMLHttpRequest();
            var rangeslider = document.getElementById("sliderRange"); 
            var output = document.getElementById("demo"); 
            var edoPuerta;
                        
            rangeslider.oninput = function() {
                edoPuerta = this.value;
                
                if (edoPuerta < 4){
                    output.innerHTML = 'Empujando puerta';
                    edoPuerta = 'Empujando puerta'
                    }
                else if (edoPuerta >= 5 && edoPuerta <= 6){
                    output.innerHTML = 'Puerta cerrada';
                    edoPuerta = 'Puerta cerrada'  
                }
                else if (edoPuerta > 7){
                    output.innerHTML = 'Jalando puerta';
                    edoPuerta = 'Jalando puerta'
                }
                Http.open('POST', '/desliza')
                Http.send(edoPuerta)
            }

        </script> 


    </form>  

            <p>   <!-- <input type="range" min="1" max="7" name="ControlPuerta" /> </p>
            <input type="submit" value="ABRE/CIERRA" /> -->



        </h3>


             <!-- </form> -->
<!-- 
        <img src="{{url_for('static', filename='foco.jpg')}}"
        align = "middle" /> -->


         
         
   </body>
</html>