<!-- Author: López Andrés
License: MIT -->
<!DOCTYPE html>
   <head>
      <title>PROYECTO FINAL</title>
      <link rel="stylesheet" href='../static/clr.css'/>
   </head>
 
   <body>
        <h1 align=center>SMART HOME</h1>
    
        <br>
         
        <h2 align=center> CONTROL DE ILUMINACIÓN </h2>
         
        <h3 align=center> FOCO SALA    Estatus {{ FOCO1  }}
            {% if  FOCO1   == 1 %}
                <a href="/FOCO1/apagado"class="button">APAGA</a>
            {% else %}
                <a href="/FOCO1/encendido" class="button">ENCIENDE</a> 
            {% endif %} 
        </h3>
         
        <h3 align=center> FOCO COCINA   Estatus {{ FOCO2  }}
            {% if  FOCO2   == 1 %}
                <a href="/FOCO2/apagado"class="button">APAGA</a>
            {% else %}
                <a href="/FOCO2/encendido" class="button">ENCIENDE</a> 
            {% endif %} 
        </h3>
        <br>
        <h4> 

            <h2 align=center> STREAMING 
            <a href="/menu_camara"class="button">ACTIVAR CÁMARA</a>
            </h2>

        </h4>

        <h5> 
            <!-- <h2>ABRIR Y CERRAR PUERTAS </h2>
             <form method="POST" action="test"> -->

        </h5>
        <br>
        <h2  align=center> APERTURA DE PUERTA  
        <form method = 'POST'>
        <div class="barra_desliza"> 
        <input type="range" min="2" max="4" value="3" class="barrita" id="RanDesliza"> 


        <p>
            <span id="prueb"></span>
        </p> 

    </div> 
        
        <script>   
            const Http = new XMLHttpRequest();  //Se leen los datos y con document se toma la referencia id del contenedor
             var edoPuerta;
            var barra_desliza = document.getElementById("RanDesliza"); 
            var output = document.getElementById("prueb"); 
            
            // se imprime el estado de la puerta dependiendo la posición de la barra deslizante            
            barra_desliza.oninput = function() {
                edoPuerta = this.value;
                
                if (edoPuerta <= 2){
                    output.innerHTML = 'Empujando puerta';
                    edoPuerta = 'Empujando puerta'
                    
                    }
                else if (edoPuerta == 3){
                    output.innerHTML = 'Puerta cerrada';
                    edoPuerta = 'Puerta cerrada'  
                    
                }
                else if (edoPuerta >= 4){
                    output.innerHTML = 'Jalando puerta';
                    edoPuerta = 'Jalando puerta'
                
                }
                Http.open('POST', '/desliza') //Con este comando se imprime en la consola el estado de la puerta 
                Http.send(edoPuerta)
            }

        </script> 


    </form>  
        </h2>
        <br>
        <h2 align=center> TIMBRE </h2>
         
        <h3 align=center> {{ buzzer  }}
            {% if  buzzer   == 1 %}
                <a href="/buzzer/apagado"class="button">toca</a>
            {% else %}
                <a href="/buzzer/encendido" class="button">TOCAR TIMBRE</a> 
            {% endif %} 
        </h3>
        
             <!-- <input type="range" min="1" max="7" name="ControlPuerta" /> </p>
            <input type="submit" value="ABRE/CIERRA" /> -->



    

             <!-- </form> -->
<!-- 
        <img src="{{url_for('static', filename='foco.jpg')}}"
        align = "middle" /> -->


         
         
   </body>
</html>